#player-ads {
  display: none;
}
#dismissible {
  display: none;
}
.ytwTopLandscapeImageLayoutViewModelHostIsClickableAdComponent {
  display: none;
}

/* video side recomended videos */
#related {
  display: none;
}
