@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  font-family: "Mononoki nerd font";
  font-size: 14px;
}

window {
  /* all: unset; */
  color: @text;
}

#tray menu {
  all: unset;
}

#tray menu * {
  padding: 2px 0px;
  margin: 0;
}

.modules-left,
.modules-center,
.modules-right * {
  background-color: @base;
}

.modules-left {
  padding-right: 12px;
}

.modules-center *,
.modules-right * {
  padding: 0 12px;
}

#workspaces button {
  padding: 3px 7px;
}
#workspaces button.active {
  background: @crust;
  color: @lavender;
}
#workspaces button.special {
  background: @yellow;
  color: @base;
}
#workspaces button.urgent {
  background: @red;
  color: @base;
}
#workspaces button.empty:not(.special) {
  opacity: 0.5;
  padding: 0 2px;
}

window#waybar.fullscreen #window {
  color: @maroon;
}

#custom-separator {
  padding: 0;
  padding-left: 5px;
}

#battery {
  color: @green;
}
#battery.warning {
  color: @peach;
}
#battery.critical {
  color: @red;
}

#backlight {
  color: @yellow;
}

#power-profiles-daemon.performance {
  color: @yellow;
}
#power-profiles-daemon.power-saver {
  color: @green;
}

#temperature {
  color: @peach;
}
#temperature.critical {
  color: @red;
}
#memory {
  color: @mauve;
}
#cpu {
  color: @rosewater;
}
/* #network { */
/*   color: @mauve; */
/* } */
#pulseaudio,
#custom-microphone {
  color: @lavender;
}
